<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
    <div class="summary">
        <p style="text-align: justify">
            Love making products, creating softwares with love from past five years and proffessionaly for past three years with product companies.
            Looking for opportunities to learn from the best and helping them grow with my experience.
        </p>
    </div><!--//summary-->
</section><!--//section-->
