<section class="section projects-section">
  <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
  <div class="intro">
    <!-- <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p> -->
  </div><!--//intro-->
  <div class="item">
    <span class="project-title">
      <h3 class="job-title">
        <a href="https://github.com/Ekta1994/GeeksQuiz" target="_blank">GeeksQuiz</a>
      </h3>
      <div class="company">Aug 2015 - Sept 2015</div>
      <div class="details">
        <ul>
          <li>
            <b>Motivation:</b> A lot of students prepare from GeeksForGeeks (GFG) for placements and
            preparing for GATE. GFG lacked the feature where students could have quiz from multiple topics,
            which proves to be very helpful during the end of preparations.
          </li>
          <li>
            <b>Execution and Result:</b> Made a chrome extension, which prepared a random quiz of 20 questions from
            user-selected topics anbd helped students analyse their tests.
            It attracted attention in the first week of launch and had <b>more than 1000 users</b> in the first week.
            The project received appreciation from GeeksForGeeks team and an offer to work with them.
          </li>
        </ul>
      </div>
    </span>

  </div><!--//item-->
  <div class="item">
    <h3 class="job-title">
      <a href="https://github.com/garvitdelhi/emulate" target="_blank">Emulate</a>
    </h3>
    <div class="company">Aug 2014 - Oct 2014</div>
    <div class="details">
      <ul>
        <li><b>Motivation:</b> With 8086 being a dying microprocessor, there was a need for a web-based interpreter for students to learn.</li>
        <li>
          <b>Execution and Result:</b>
          Wrote a web app which interpreted 8086 assembly language in JS with backend state saving.
          It got <b>proposed</b> to be used as a replacement of current kits in DTU by our department.
        </li>
      </ul>
    </div>
  </div><!--//item-->
</section><!--//section-->
